{% extends "index.html" %}
{% block title %}Home Page{% endblock %}
{%block content%}
<div class="card shadow mt-3" >
   <div class="row justify-content-center">
    <div class="col-sm-3">
        <img style="width: 280px;" src="/static/dagingayam.png" alt="">
    </div>
    <div class="col-sm-9 mt-3">
        <div style="font-size: 28px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            <strong class="text-dark"><p>
                Halo <span id="namaUser">Admin!</span> <br>
                Hindari Ayam Formalin <br>
                Pilih yang Sehat dan Aman!
            </p></strong>
        </div>
    </div>
   </div>
</div>

{%endblock%}